.scBorder {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 860px;
    /*width: 1633px;*/
    width: 100%;
    border: 4px solid #FFFFFF;
    padding: 13px 46px 30px 46px;
    border-radius: 30px;
}

h1, h2, h3, h4 {
    color: #FFFFFF;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "Archivo Black";
    font-size: 64px;
    line-height: 90px;
}

h4 {
    font-size: 40px;
    line-height: 40px;
}

.totalGoal {
    display: inline-block;
    padding: 14px;
    border: 8px #FFFFFF solid;
    width: 100%;
    margin: 21px 0 0;
}

    .totalGoal h1 {
        margin: 0;
    }

    .totalGoal .d1 {
        display: inline-block;
        float: left;
    }

    .totalGoal .d2 {
        display: inline-block;
        text-align: left;
        float: right;
    }

.timeSec h4 {
    font-family: "Archivo Black";
    font-size: 36px;
    line-height: 51px;
    margin: 0;
}

.qtr {
    margin: 8px 12px 20px;
}

    .qtr h4 {
        float: left;
    }

        .qtr h4 label {
            margin-left: 15px;
        }

    .qtr .fa.fa-circle {
        color: #484846;
    }

        .qtr .fa.fa-circle.active {
            color: #1CABE2;
        }


.secTimes {
    top: 40px;
    position: relative;
    margin-bottom: 20px;
}

h1.gclinics {
    font-size: 56px;
    color: #1CABE2;
    text-align: center;
    position: relative;
}

    h1.gclinics span {
        font-family: 'Archivo Narrow';
        letter-spacing: 20px;
        font-weight: bold;
        font-size: 35px;
        position: absolute;
        bottom: -44px;
        right: 149px;
    }

.fa.fa-usd {
    font-size: 89px;
    float: left;
    top: 12px;
    position: relative;
    color: #1CABE2;
}

.r1 {
    border-bottom: 5px white solid;
}

.timeCtr {
    border: 10px solid white;
    padding: 32px 0px;
    width: 90%;
    margin: auto;
}

    .timeCtr .number_dot.active {
        color: #ff0000 !important;
    }

.ball .fa.fa-circle {
    font-size: 9px;
    position: relative;
    float: left;
    padding: 0;
}

.ball {
    color: #484846;
}

    .ball.active {
        color: #ff0000;
    }

.inner-balls {
    float: left;
}

    .inner-balls .id1 {
        position: relative;
        top: 0;
    }

    .inner-balls .id2 {
        position: relative;
        top: -9px;
    }

.ballL {
    position: absolute;
    left: 0;
}

.ballR {
    position: absolute;
    right: 0;
}

.ball > .fa-circle:first-child {
    padding: 0
}

.ball > .fa-circle:last-child {
    padding: 0
}

.t27 {
    top: 13px;
}

.t27_ {
    top: -13px;
}

.t9_ {
    top: -6px;
}

.t9 {
    top: 6px;
}

.t18_ {
    top: -11px;
}

.t18 {
    top: 11px;
}



.percentIcon {
    font-size: 53px;
    float: right;
    top: 22px;
    left: 10px;
    position: relative;
    color: #1CABE2;
}

.timmerSeparation {
    display: inline-block;
    width: 12px;
    top: -101px;
    position: relative;
}

.timeSec {
    display: inline-block;
    text-align: center;
}

.fa.fa-percent {
    font-size: 44px;
    float: right;
    top: 39px;
    left: 10px;
    position: relative;
    color: #1CABE2;
}

.number {
    float: left;
    padding: 5px;
    line-height: 1.2;
}

.number_pad {
    width: 54px;
    font-size: 10px;
}

body {
    background: black;
}

.number_dot {
    display: inline;
    color: #484846;
}

.scContainer {
    padding: 50px;
}

.number_empty {
    display: inline;
    color: black;
}

p.content {
    display: inline-block;
    margin: 0px;
    margin-top: 1px;
}

.active {
    color: #1cabe2;
}
