<div class="ball" ng-class="{'active':on}">
    <i class="fa fa-circle" aria-hidden="true"></i>
    <div class="inner-balls">
        <div class="id1">
            <i class="fa fa-circle t9" aria-hidden="true"></i>
            <i class="fa fa-circle t18" aria-hidden="true"></i>
            <i class="fa fa-circle t27" aria-hidden="true"></i>
            <i class="fa fa-circle t18" aria-hidden="true"></i>
            <i class="fa fa-circle t9" aria-hidden="true"></i>
        </div>
        <div class="id2">
            <i class="fa fa-circle t9_" aria-hidden="true"></i>
            <i class="fa fa-circle t18_" aria-hidden="true"></i>
            <i class="fa fa-circle t27_" aria-hidden="true"></i>
            <i class="fa fa-circle t18_" aria-hidden="true"></i>
            <i class="fa fa-circle t9_" aria-hidden="true"></i>
        </div>
    </div>
    <i class="fa fa-circle" aria-hidden="true"></i>
</div>