<div class="number">
    <div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot1)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot2)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot3)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot4)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
    </div>
    <div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot5)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_empty">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_empty">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot6)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
    </div>
    <div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot7)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_empty">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_empty">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot8)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
    </div>
    <div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot9)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot10)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot11)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot12)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
    </div>
    <div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot13)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_empty">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_empty">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div id="dot_14" class="number_dot" ng-class="{'active':indexOfTime(dot14)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
    </div>
    <div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot15)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_empty">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_empty">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div id="dot_16" class="number_dot" ng-class="{'active':indexOfTime(dot16)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
    </div>
    <div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot17)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot18)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot19)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="number_dot" ng-class="{'active':indexOfTime(dot20)}">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
    </div>
</div>
