<h1>Hola {{time}}</h1>    

<div style="width: 500px">
    <div>
        <div id="dot_1" class="number_dot" ng-class="{'active':indexOfTime(dot1)}">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div id="dot_2" class="number_dot" ng-class="{'active':indexOfTime(dot2)}">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div id="dot_3" class="number_dot" ng-class="{'active':indexOfTime(dot3)}">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div id="dot_4" class="number_dot" ng-class="{'active':indexOfTime(dot4)}">
            <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
    </div>
    <div>
        <div id="dot_5" class="number_dot" ng-class="{'active':indexOfTime(dot5)}">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="number_empty">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="number_empty">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div id="dot_6" class="number_dot" ng-class="{'active':indexOfTime(dot6)}">
            <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
    </div>
    <div>
        <div id="dot_7" class="number_dot" ng-class="{'active':indexOfTime(dot7)}">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="number_empty">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="number_empty">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div id="dot_8" class="number_dot" ng-class="{'active':indexOfTime(dot8)}">
            <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
    </div>
    <div>
        <div id="dot_9" class="number_dot" ng-class="{'active':indexOfTime(dot9)}">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div id="dot_10" class="number_dot" ng-class="{'active':indexOfTime(dot10)}">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div id="dot_11" class="number_dot" ng-class="{'active':indexOfTime(dot11)}">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div id="dot_12" class="number_dot" ng-class="{'active':indexOfTime(dot12)}">
            <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
    </div>
    <div>
        <div id="dot_13" class="number_dot" ng-class="{'active':indexOfTime(dot13)}">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="number_empty">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="number_empty">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div id="dot_14" class="number_dot" ng-class="{'active':indexOfTime(dot14)}">
            <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
    </div>
    <div>
        <div id="dot_15" class="number_dot" ng-class="{'active':indexOfTime(dot15)}">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="number_empty">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="number_empty">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div id="dot_16" class="number_dot" ng-class="{'active':indexOfTime(dot16)}">
            <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
    </div>
    <div>
        <div id="dot_17" class="number_dot" ng-class="{'active':indexOfTime(dot17)}">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div id="dot_18" class="number_dot" ng-class="{'active':indexOfTime(dot18)}">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div id="dot_19" class="number_dot" ng-class="{'active':indexOfTime(dot19)}">
            <p class="content">&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div id="dot_20" class="number_dot" ng-class="{'active':indexOfTime(dot20)}">
            <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
    </div>
</div>
